
<div class="horizontal-menu">
  <nav class="navbar navbar-fixed-top top-navbar col-lg-12 col-12 p-0" style="background-color: #fff">
    <div class="container">
      <div class="text-left navbar-brand-wrapper d-flex align-items-center justify-content-between">
        <a class="navbar-brand brand-logo" href="../../index.html"><img src="https://gozem.co/wp-content/uploads/2020/03/gozem-logo-hq.png" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="https://pbs.twimg.com/profile_images/1063135300715732993/fPxKGULK.jpg" alt="logo"/></a> 
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav ml-lg-3">
          <li class="nav-item  dropdown d-none align-items-center d-lg-flex d-none">
            
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="pagesDropdown">
            
            </div>
          </li>
          <li class="nav-item dropdown align-items-center d-lg-flex d-none">
        
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-search d-none d-lg-flex">
          
          </li>
          <li class="nav-item dropdown">
            
          </li>
          <li class="nav-item dropdown">
       
          </li>
          <li class="nav-item nav-user-icon">
            <a class="btn-fw"  href="basic_elements.html#" data-toggle="dropdown" id="pagesDropdown">
              <span class="nav-profile-name" style="color: black; font-weight: bold;">Help</span>
              </a>
          </li>
          <li class="nav-item nav-user-icon">
            <a class="btn-fw"  href="basic_elements.html#" data-toggle="dropdown" id="pagesDropdown">
              <span class="nav-profile-name" style="color: black; font-weight: bold;">Login</span>
              </a>
          </li>
          <li class="nav-item nav-settings d-none d-lg-flex">
          
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </div>
  </nav>
  
</div>
<!-- partial -->