.form-control{
    border: 1px solid #c2c3c5;
    color: black;
    font-weight: bold;
    font-size: 0.875rem;
    height: auto;
    padding: 5px;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 0px;
}

.form-group {
    margin-bottom: 0.5rem;
}
