.form-control{
    border: 1px solid #c2c3c5;
    color: black;
    font-weight: bold;
    font-size: 0.875rem;
    height: auto;
    padding: 5px;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 0px;
}

.form-group {
    margin-bottom: 0.5rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    font-weight: bolder;
}

.nav-pills-success .nav-link {
    color: #000000;
    font-weight: 700;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}

/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0
}
option :hover {
    font-weight: 700;
    border: none;
}

.form-control:focus{
    border: 1px solid #b89b11;
   
}