<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <form class="form-sample">
        <div class="row">
          <div class="col-md-3">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">Guests</label>
              </div>
            </div>
          </div>
          <div class="col-md-9 row justify-content-between">
            <div class="col-xs-5 mt-3">
              <div class="form-group">
                <div class="col-12">
                  <select class="form-control">
                    <option>1 Guest</option>
                    <option>2 Guest</option>
                    <option>3 Guest</option>
                    <option>4 Guest</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-4 mt-3">
              <div class="form-group pr-0">
                <div class="col-12">
                  <button
                    type="submit"
                    class="btn btn-success text-white"
                    style="padding: 7%; font-weight: bolder"
                    (click)="reactionfiltre()"
                  >
                    <span *ngIf="var_filtre" class="">Less Filter </span>
                    <span *ngIf="!var_filtre">More Filter</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <form class="form-sample" *ngIf="var_filtre">
        <hr />
        <div class="row">
          <label
            class="col-sm-12 col-form-label"
            style="
              text-align: center;
              font-size: 70%;
              font-weight: bold;
              margin-bottom: 2%;
            "
            >Find Your Route</label
          >
          <div class="col-md-3">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">Itinerary</label>
              </div>
            </div>
          </div>
          <div class="col-md-9 row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="text" value="Singapore" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="text" value="Bangkok" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="text" value="11 Juin" class="form-control" />
                </div>
              </div>
            </div>
            <hr class="d-block d-sm-none" />
            <div class="col-md-4">
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="text" value="Bangkok" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="text" value="Phuket" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="text" value="11 Juin" class="form-control" />
                </div>
              </div>
            </div>
            <hr />
            <div class="col-md-4">
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="text" value="Phuket" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="text" value="Singapore" class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="text" value="11 Juin" class="form-control" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 text-center mt-3">
            <button
              type="submit"
              class="btn btn-success text-white"
              style="font-weight: bolder"
              (click)="Details()"
            >
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
