<div>
    <div class="bottom-navbar">
        <app-header></app-header>
    </div>


  <div class="container-fluid page-body-wrapper mt-sm-5">
    <div class="main-panel">
        <div class="row">
          <div class="col-sm-8 col-md-7 col-xs-12 pad-class">
            <app-barre-filtre>

            </app-barre-filtre>
           
             <app-card *ngIf = "var_detail"></app-card>
        
          </div>
          <div class="col-sm-4 col-md-5 col-xs-12 pl-0">
            <app-maps> </app-maps>
          </div>
        </div>
    </div>
  </div>
</div>
